[Unit]
Description=Refresh Candy Cloud configuration

[Timer]
OnBootSec=15s
OnActiveSec=15s
OnUnitInactiveSec=30s
RandomizedDelaySec=6s
AccuracySec=1s
Persistent=true
Unit=candy-cloud-sync.service

[Install]
WantedBy=timers.target
